{% extends 'dashboard/base_form.html' %}

{% block form_title %}
    {% if form.instance.pk %}Edit Product: {{ form.instance.name }}{% else %}Add New Product{% endif %}
{% endblock %}

{% block back_url %}{% url 'product_list' %}{% endblock %}

{% block main_fields %}
<div class="mb-4">
    <label class="form-label">Product Name</label>
    {{ form.name }}
    {% if form.name.errors %}<div class="text-danger small">{{ form.name.errors }}</div>{% endif %}
</div>

<div class="row">
    <div class="col-md-6 mb-3">
        <label>Category</label>
        {{ form.category }}
    </div>
    <div class="col-md-6 mb-3">
        <label>Brand</label>
        {{ form.brand }}
    </div>
</div>

<div class="row bg-light p-3 rounded-3 mb-4 mx-0">
    <div class="col-md-4 mb-3">
        <label>Base Price (Rs.)</label>
        {{ form.price }}
    </div>
    <div class="col-md-4 mb-3">
        <label>Discount (%)</label>
        {{ form.discount_percent }}
    </div>
    <div class="col-md-4 mb-3">
        <label>Warranty (Years)</label>
        {{ form.warranty_years }}
    </div>
</div>

<div class="mb-3">
    <label>Detailed Description</label>
    {{ form.description }}
</div>
{% endblock %}

{% block side_fields %}
<div class="card shadow-none bg-white border mb-4">
    <div class="card-header text-muted small fw-bold">Primary Image</div>
    <div class="card-body text-center">
        {% if form.instance.image %}
            <img src="{{ form.instance.image.url }}" class="preview-img-small mb-3" width="100px">
        {% endif %}
        <div class="custom-file-input">
            {{ form.image }}
        </div>
    </div>
</div>

<div class="p-2 border rounded bg-white">
    <div class="form-check mb-2">
        {{ form.is_active }}
        <label class="form-check-label">Visible to Customers</label>
    </div>
    <div class="form-check">
        {{ form.is_featured }}
        <label class="form-check-label">Featured on Home</label>
    </div>
</div>
{% endblock %}