{% extends 'dashboard/base_list.html' %}

{% block list_title %}Products{% endblock %}

{% block add_url %}
{% url 'product_create' %}
{% endblock %}

{% block add_new_name %}Product{% endblock %}

{% block table_title %}All Products{% endblock %}

{% block table_headers %}
<tr>
    <th>Image</th>
    <th>Name</th>
    <th>Category</th>
    <th>Brand</th>
    <th>Price</th>
    <th>Status</th>
    <th>Actions</th>
</tr>
{% endblock %}

{% block table_rows %}
{% for product in products %}
<tr>
    <td>
        {% if product.image %}
        <img src="{{ product.image.url }}" class="table-img" alt="{{ product.name }}" width="100px" height="100px">
        {% else %}
        <span class="text-muted">No Image</span>
        {% endif %}
    </td>

    <td>{{ product.name }}</td>
    <td>{{ product.category.name }}</td>
    <td>{{ product.brand.name|default:"-" }}</td>

    <td>
        {% if product.discount_percent > 0 %}
        <del class="text-muted small">Rs.{{ product.price }}</del>
        <div class="text-success font-weight-bold">
            Rs.{{ product.discounted_price|floatformat:2 }}
        </div>
        {% else %}
        Rs.{{ product.price }}
        {% endif %}
    </td>

    <td>
        {% if product.is_active %}
        <span class="badge bg-success">Active</span>
        {% else %}
        <span class="badge bg-secondary">Inactive</span>
        {% endif %}

        {% if product.is_featured %}
        <span class="badge bg-info">Featured</span>
        {% endif %}
    </td>

    <td>
        <a href="{% url 'product_update' product.pk %}"
            class="btn btn-info btn-sm" title="Edit">
            <i class="bi bi-pencil-square"></i>
        </a>

        <a href="{% url 'product_delete' product.pk %}"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Are you sure you want to delete this item?');"
            title="Delete">
            <i class="bi bi-trash"></i>
        </a>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="7" class="text-center text-muted">
        No products found.
    </td>
</tr>
{% endfor %}
{% endblock %}
